<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <httpRuntime maxRequestLength="50384" executionTimeout="120" />
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <customErrors mode="Off"></customErrors>
    <sessionState timeout="2000"/>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <identity impersonate="true"/>
  </system.web>
  <connectionStrings>
    <add name="Constr" connectionString="Data Source=vts-sdu-3;Initial Catalog=PIPLImpCubeMum;Persist Security Info=True;User ID=sa;Password=admin123"
      providerName="System.Data.SqlClient" />
    <add name="PILOGConnectionString" connectionString="Data Source=vts-sdu-3;Initial Catalog=PIPLImpCubeMum;Persist Security Info=True;User ID=sa;Password=admin123"
 providerName="System.Data.SqlClient" />
    <!--Connection String and PILog Connection String for Mumbai PIPL Impexcube application-->

    <!--<add name="Constr" connectionString="Data Source=63.143.40.147,1232;Initial Catalog=ImpexCubeGujarat;Persist Security Info=True;User ID=sa;Password=admin123"
    providerName="System.Data.SqlClient" />
    <add name="PILOGConnectionString" connectionString="Data Source=63.143.40.147,1232;Initial Catalog=ImpexCubeGujarat;Persist Security Info=True;User ID=sa;Password=admin123"
 providerName="System.Data.SqlClient" />-->
    <!--Connection String and PILog Connection String for Mumbai PIPL Impexcube application-->
    
    <!--<add name="Constr" connectionString="Data Source=vts-sdu-3;Initial Catalog=PIPLImpCubeChn;Persist Security Info=True;User ID=sa;Password=admin123"
      providerName="System.Data.SqlClient" />
    <add name="PILOGConnectionString" connectionString="Data Source=vts-sdu-3;Initial Catalog=PIPLImpCubeChn;Persist Security Info=True;User ID=sa;Password=admin123"
 providerName="System.Data.SqlClient" />-->
    <!--Connection String and PILog Connection String for Chennai PIPL Impexcube application-->

    <!--<add name="Constr" connectionString="Data Source=vts-sdu-3;Initial Catalog=PIPLImpCubeBang;Persist Security Info=True;User ID=sa;Password=admin123"
      providerName="System.Data.SqlClient" />
    <add name="PILOGConnectionString" connectionString="Data Source=vts-sdu-3;Initial Catalog=PIPLImpCubeBang;Persist Security Info=True;User ID=sa;Password=admin123"
 providerName="System.Data.SqlClient" />-->   
    <!--Connection String and PILog Connection String for Bangalore PIPL Impexcube application-->


    <!--<add name="Constr" connectionString="Data Source=vts-sdu-3;Initial Catalog=PIPLImpCubeDel;Persist Security Info=True;User ID=sa;Password=admin123"
      providerName="System.Data.SqlClient" />
    <add name="PILOGConnectionString" connectionString="Data Source=vts-sdu-3;Initial Catalog=PIPLImpCubeDel;Persist Security Info=True;User ID=sa;Password=admin123"
 providerName="System.Data.SqlClient" />-->
    <!--Connection String and PILog Connection String for Delhi PIPL Impexcube application-->

  </connectionStrings>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
   
    <add key="ConnectionDashboard" value="server=VTS-SDU-3;uid=sa;pwd=admin123;database=PIPLImpCubeMum;" /><!--Connection Dashboard for PIPL Mumbai-->
    <!--<add key="ConnectionDashboard" value="server=VTS-SDU-3;uid=sa;pwd=admin123;database=PIPLImpCubeChn;" />--><!--Connection Dashboard for PIPL Mumbai-->
    <!--<add key="ConnectionDashboard" value="server=VTS-SDU-3;uid=sa;pwd=admin123;database=PIPLImpCubeBang;" />--><!--Connection Dashboard for PIPL Bangalore-->
    <!--<add key="ConnectionDashboard" value="server=VTS-SDU-3;uid=sa;pwd=admin123;database=PIPLImpCubeDel;" />Connection Dashboard for PIPL Delhi-->
    
    <!--<add key="ConnectionDashboard" value="server=VTS-SDU-3;uid=sa;pwd=4UTXBQ@W@E@!8siQ^Je;database=iMPEXcUBEgUJARAT;" />-->
    <add key="ConnectionVisual" value="server=vts-sdu-3;uid=root;pwd=mysql;database=visualimpex-vi0000001756;Max Pool Size=5000;"/><!--Visual Connection for Delhi-->
    <!--<add key="ConnectionVisual" value="server=vts-sdu-3;uid=root;pwd=mysql;database=visualimpex-vi0000001756;Max Pool Size=5000;"/>-->
    <!--<add key="ConnectionVisual" value="server=vts-sdu-3;uid=root;pwd=mysql;database=visualimpex-vi0000001756;Max Pool Size=5000;"/>-->
    
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
  </appSettings>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
</configuration>