body {    text-align: center;
}
.txtbox100
{
    Width:100px;
    font-size: 13px;
    font-family: Calibri;
}
.txtbox200
{
    Width:200px;
    font-size: 13px;
    font-family: Calibri;
}
.labelsize
{
    font-size: 13px;
    font-family: Calibri;
}
.labeltitle
{
    font-size: 20px;
    font-family: Calibri;
    text-align: center; 
}
.ddl50
{
   Width:50px;
   font-size: 13px;
   font-family: Calibri;  
}
.ddl200
{
   Width:200px;
   font-size: 13px;
   font-family: Calibri;  
}
.btn70
{
   height: 26px;
   Width:70px;
   font-size: 15px;
  
   font-family: Calibri;
   background-color:Gray;
}
.tdalign
{
     text-align: center; 
}

